{% extends "views/layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
      <h1>What's Gabber?</h1>
      <hr>
      <p>Gabber is an exploratory application that captures and shares conversations
      within communities. Data produced is fed back into the community for analysis
      and use. Gabber is currently deployed across various domain-specific contexts,
      ranging from education, where Gabber is used to capture, understand and respond
      to students learning needs and issues as they arise, and embedded within
      consultation processes as a resource for representing citizens experiences of
      using the Metro in Tyne and Wear.</p>
      <hr>
      <img class="center" src="http://i.imgur.com/TnQRX6v.gif" alt="What Gabber could do for you">
      <hr>
      <p>Sharing your experiences, collecting the experiences of others,
      and having them all in one place enables <b>you</b> as a community to
      engage with and understand the needs and concerns of others within this
      community. By representing all of these perspectives in one place, they
      could be used to engage local government in decision-making processes,
      such as where to place new buildings, or understand local citizens concerns.</p>
{%- endblock %}
