<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Gabber &middot; {% block title %}listen and be heard{% endblock %}</title>
  {%- block scripts %}
  <!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/html5shiv.js') }}"></script><![endif]-->
  {%- endblock %}
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
</head>
<body>
  <div class="wrapper">
    <nav>
      <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.about') }}">About</a></li>
        <li><a href="{{ url_for('main.projects') }}">Projects</a></li>
        <li class="active register"><a href="#">Sign in</a></li>
      </ul>
    </nav>
    <section class="main">
{%- block content -%}
{%- endblock %}
    </section>
  </div>
  <footer id="footer">
    <ul>
      <li>&copy; 2016 Gabber</li>
      <li><a href="{{ url_for('main.about') }}">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </footer>
  <!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script><![endif]-->
  {%- block fscripts %}
  {%- endblock %}
  </body>
</html>
