{% extends "views/layout.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
      <h1>Gabber projects</h1>
      <hr>{% for project in projects %}
      <div class="project">
        <a class="project-ref" href="{{ url_for('project.display', project=project.title) }}">
          <img src="{{ url_for('static', filename='img/' + project.banner) }}" alt="">
          <h4 class="project-title">{{ project.title.replace("-", " ") }}</h4>
        </a>
      </div>{% endfor %}
{%- endblock %}
