Flask==0.11.1
Flask-SQLAlchemy==2.3
Flask-Bcrypt==0.6.0
Flask-Mail==0.9.1
Flask-WTF==0.14
Flask-Login==0.4.0
Flask-Migrate==2.0.3
python-slugify==1.2.4
flask-restful==0.3.6
boto3==1.5
flask_jwt_extended==3.0.0
pymysql==0.7.2
marshmallow==3.0.0b7
flask-marshmallow==0.8.0
marshmallow-sqlalchemy==0.13.2
