<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Gabber &middot; {% block title %}listen and be heard{% endblock %}</title>
  {%- block scripts %}
  <!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/html5shiv.js') }}"></script><![endif]-->
  {%- endblock %}
  <link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
</head>
<body>
  <div class="wrapper">
{% include 'views/shared/nav.html' %}
    <section class="main">
  {%- with messages = get_flashed_messages() -%}
  {% if messages %}
      <ul class="alert alert-success">
    {%- for message in messages %}
        <li>{{ message }}</li>
    {%- endfor %}
      </ul>{%- endif -%}
{%- endwith -%}
{%- block content -%}
{%- endblock %}
    </section>
  </div>
  {% include 'views/shared/footer.html' %}
  <!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script><![endif]-->
  {%- block fscripts %}
  {%- endblock %}
  </body>
</html>
