<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif" rel="stylesheet">
  <link rel="stylesheet" href={{ url_for('static', filename='css/custom.css') }}>
  {%- block styles %}{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gabber &middot; {% block title %}listen and be heard{% endblock %}</title>
  {%- block scripts %}{%- endblock %}
</head>
<body>
  <header>
{% include 'views/shared/nav.html' %}
  </header>
  <main>
    <div class="container">
      <div class="row">
  {%- block content -%}
  {%- endblock %}
      </div>
    </div>
  </main>
  {% include 'views/shared/footer.html' %}
  {%- from "views/shared/macros.html" import display_flash_messages -%}
  {{- display_flash_messages() -}}
  {%- block fscripts %}{%- endblock %}
</body>
</html>
