{% macro render_field(field) %}
  <div class="form_field">
  {% if field.errors %}
    {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, **kwargs) }}
    <div class="alert alert-dismissable alert-danger">
      {% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}
  {% else %}
    {{ field(**kwargs) }}
  {% endif %}
  </div>
{% endmacro %}

{%- macro render_projects(projects) -%}
  {% if projects %}
    {%- for project in projects %}
      <div class="project">
        <a class="project-ref" href="{{ url_for('project.display', project=project.title.lower().replace(" ", "-")) }}">
          <img src="{{ url_for('static', filename='img/' + (project.banner if project.banner else "default-banner.jpg")) }}">
          <h4 class="project-title">{{ project.title.replace("-", " ") }}</h4>
        </a>
      </div>
    {%- endfor -%}
  {% endif %}
{%- endmacro -%}