{% macro render_field(field) %}
  {%- if field.errors %}
    {{ field(**kwargs) }}
      {% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}
  {%- else -%}
    {{ field(**kwargs) }}
  {%- endif -%}
{% endmacro %}

{%- macro render_projects(projects, current_user) -%}
  {% if projects %}
    {%- for project in projects %}
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{ project.title.replace("-", " ").title() }}</span>
              <p>{{ project.description }}</p>
            </div>
            <div class="card-action">
            {%- if current_user.is_authenticated and current_user.get_role() == 'admin' %}
             <a>Add members</a>
             <a href="{{ url_for('project.edit', project=project.title.replace(" ", "-").lower()) }}">Edit</a>
            {%- endif %}
              <a href="{{ url_for('project.sessions', project=project.title.replace(" ", "-").lower()) }}">View sessions</a>
            </div>
          </div>
        </div>
    {%- endfor -%}
  {% endif %}
{%- endmacro -%}

{%- macro display_flash_messages() -%}
{%- with messages = get_flashed_messages() -%}
  {% if messages %}
<script>{{ messages | safe }}.forEach(function(e){Materialize.toast(e, 4000)});</script>
{%- endif -%}

{%- endwith -%}
{%- endmacro -%}

{%- macro active(uri="", uri_blueprint_group="") -%}
{% if uri == request.endpoint or request.endpoint.split(".")[0] == uri_blueprint_group %} class="active"{%- endif -%}
{%- endmacro -%}

{%- macro render_comment(comment) %}
                <div class="r-{{ comment.id }} card-panel no-padding" style="display: none;">
                  <div class="comment-header">
                    <strong><a class="author" href="javascript:void(0)">{{ comment.creator }}</a></strong> &mdash;
                    <time datetime="{{ comment.timestamp }}">{{ comment.days_since }} days ago</time>
                  </div>
                  <div class="comment-body">
                    <p><b>{% for code in comment.codes %}{{ code['code'] }}{% if not loop.last %}, {% endif %}{% endfor %}</b></p>
                    <p class="black-text">{{comment.content}}</p>
                    <div class="options">
                      <a href="javascript:void(0)"><i data-commentid="{{ comment.id }}" class="material-icons writeReply">reply</i></a>
                      <a href="javascript:void(0)"><i data-commentid="{{ comment.id }}" class="material-icons showReplies">chat_bubble_outline</i>
                        <sup>{{comment.responses | length }}</sup>
                      </a>
                    </div>
                  </div>
                </div>
                {% for response in comment.responses %}
                <div class="child" data-parentid="{{ comment.id }}" style="display: none;">
                  {{ render_comment(response) }}
                </div>
                {% endfor %}
{%- endmacro %}