<p>Thanks for gabbering!</p>
<p>Can you <a href="{{ data['uri'] }}">provide consent</a> for the gabbering
to be made public for others to listen to. You can listen back to the
gabbering, and if you decide you don't want to share the audio, there's an
option to still share the gabbering text where we will anonymize the data for
you. That way, your gabberings are still public, but not associated with you.</p>

<p><a href="https://twitter.com/jawrainey">Jay Rainey</a> </br>
Doctoral Trainee, </br>
07582603386, </br>
Open Lab, Newcastle (UK)</p>
