<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Gabber: experienes being in a Digital Economy CDT</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{ url_for('main.index') }}" class="brand-logo">gabber</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('main.listen') }}">Listen</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.jawrainey.gabber">Download</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="{{ url_for('main.listen') }}">Listen</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.jawrainey.gabber">Download</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <h2 class="header center ">Conversations <u>shared</u> to be <b>heard</b></h2>
        <h5 class="center lighten-3" style="padding-bottom: 1em;">
          <i>Do you know a friend whose gabberings you could share?</i>
        </h5>
        <div class="row center">
          <a href="https://play.google.com/store/apps/details?id=com.jawrainey.gabber" id="download-button" class="btn-large
          waves-effect waves-light teal lighten-1">Download gabber</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{ url_for('static', filename='img/background.jpg') }}"" alt=""></div>
  </div>
  <div class="container">
    <div class="section no-pad-bot">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">group</i></h2>
            <h5 class="center">1. Gather details</h5>
            <p class="light">Enter the name, email and an optional selfie of who you are gabbering with.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">chat_bubble_outline</i></h2>
            <h5 class="center">2. Select a topic</h5>
            <p class="light">Select a topic that you both want to gabber about.
            Gabber about what interests you!</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">mic</i></h2>
            <h5 class="center">3. Record gabberings</h5>
            <p class="light">Record a gabbering with your friend to share
            with others to hear and reflect on.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">About Gabber</h5>
          <p class="grey-text text-lighten-4">Gabber was created as an
          exploratory application to capture and share conversations between
          communities. Data produced through gabber is fed back into the community
          for analysis and use.</p>
          <p class="grey-text text-lighten-4">Gabber is currently being used to
          collect and share <b>experiences of volunteering</b> with an incentive model
          embedded within it. If you are interested in capturing your friends
          experiences and earning money for your time, then Gabber is for you.</p>
        </div>
        <div class="col l3 s12 right">
          <h5 class="white-text">Contact details</h5>
          <p class="white-text">Jay Rainey</br>
          <a href="mailto:j.rainey2@ncl.ac.uk?subject=Gabber">Email researcher</a></br>
          Doctoral Trainee,</br>
          Open Lab,</br>
          Newcastle University</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright"></div>
  </footer>
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  {% include 'analytics' %}
  </body>
</html>
