<p>Thanks for providing consent to the gabber you created. If you haven't
already, why not <a href="https://openlab.ncl.ac.uk/dokku/gabber/download">download gabber</a> to gabber with <i>your</i> friends?</p>

<p>We know this takes time and effort, so we are providing reimbursements
(Amazon vouchers) for using Gabber, which include:</p>

<ol>
  <li>£1 for each gabber you record</li>
  <li>50p for each gabber <i>your friend</i> record</li>
  <li>25p for each gabber <i>your friends friend</i> record</li>
</ol>

<p>You can receive reimbursements to a maximum of £10 per day until the study
is complete or our threshold has been met -- we will email you when this happens.</p>

<p><b>Note:</b> consent by both (yourself and the friend) needs to be provided
to receive reimbursement, and the gabbers created must be from <i>unique
  friends</i> and last at least a few minutes.</p>

<p><a href="https://twitter.com/jawrainey">Jay Rainey</a> </br>
Doctoral Trainee, </br>
07582603386, </br>
Open Lab, Newcastle (UK)</p>
