{% extends "views/shared/layout.html" %}
{% block title %}{{ project_title }}{% endblock %}
{% block content %}
        <h3>{{ project_title.lower().title().replace("-", " ") }}</h3>
        <hr>
        <div class="collection">
         {%- for interview in interviews %}
          <a href="{{ interview['audio'] }}" class="collection-item truncate">
            <b class="right">{{ interview['created'] }}</b>
            {{ interview['prompt'].title() }}
          </a>
          {%- endfor %}
        </div>
{%- endblock %}
