{% extends "views/shared/layout.html" %}
{% block title %}{{ project_title }}{% endblock %}
{% block content %}
        <h3>{{ project_title.lower().title().replace("-", " ") }}</h3>
        <hr>
        <div class="collection">
         {%- for interview in interviews %}
          <a href="{{ interview['audio'] }}" class="collection-item">
            {{ interview['prompt'] }}
            <i class="material-icons right">file_download</i>
          </a>
          {%- endfor %}
        </div>
{%- endblock %}
