{% extends "views/shared/layout.html" %}
{% block content %}
        <form method="POST" enctype="multipart/form-data">

          <div class="row">
            <div class="input-field col s12">
              <input name="title" type="text" id="title" value="{{ project.title }}">
              <label for="title">Title</label>
            </div>
          </div>

  {%- for prompt in project.prompts %}

          <div class="col s12 m6 l4">
          <div class="col s12">
            <h5>The prompts associated with your project</h5>
            <div class="input-field">
              <textarea name="description" id="description" class="materialize-textarea">{{ project.description }}</textarea>
              <label for="description">The description of your project</label>
            </div>
          </div>

            <div class="card small">
              <div class="card-image">
                <input type="file" name="upload-{{ prompt.id }}" id="upload-{{ prompt.id }}" onchange="readURL(this)" style="display:none">
                <label for="upload-{{ prompt.id }}">
                  <img alt="" id="promptImg-{{ prompt.id }}" src="{{ url_for('static', filename='img/' + project.id|string + "/" + prompt.image_path) }}" />
                </label>
              </div>

              <div class="card-content">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea class="materialize-textarea center-align"
                        placeholder="Enter a short prompt to guide the interview" id="promptText-{{ prompt.id }}" name="promptText-{{ prompt.id }}" >{{ prompt.text_prompt.lower() }}</textarea>
                      <label for="promptText-{{ prompt.id }}">Prompt {{ loop.index }}</label>
                    </div>
                  </div>
              </div>

            </div>
          </div>
  {%- endfor %}
          <div class="col s12 m12">
            <button class="btn waves-effect waves-light right" type="submit">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
{%- endblock %}
{% block fscripts %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script>
    function readURL(event) {
      var tgt = event.target || window.event.srcElement, files = tgt.files;
      // No fallback for now: assume modern device.
      if (FileReader && files && files.length) {
        var fr = new FileReader();
        fr.onload = function () {
          document.getElementById("promptImg-" + event.id.split("-")[1]).src = fr.result;
        };
        fr.readAsDataURL(files[0]);
      }
    }
  </script>
{%- endblock %}
