{% extends "views/shared/layout.html" %}
{% block content %}
        <h1 class="text-center">{{ project_name }} sessions</h1>
        <hr>
        <div class="collection">
         {%- for session in sessions %}
          <a href="{{ url_for('project.session', interview_id=session['first_interview_id']) }}" class="collection-item">
          {{ session['participants_names']|length }} participants (
              {% if session['participants_names']|length == 1 %}
                  {{ session['participants_names'][0] }}
              {% elif session['participants_names']|length == 2 %}
                  {{ session['participants_names'][0] }} &amp; {{ session['participants_names'][1] }}
              {% elif session['participants_names']|length >= 2 %}
                  {{ session['participants_names'][0] }}, {{ session['participants_names'][1] }} &amp; others
              {% endif %}
          ) discussing <b>{{ session['interviews'] | length }}</b> topics on {{ session['creation_date'].strftime("%b %d, %Y") }},
          Created by <b>{{ session['creator'] }}</b>
          </a>
          {%- endfor %}
        </div>
{%- endblock %}