{% extends "views/shared/layout.html" %}
{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js"></script>
  <script src="https://wavesurfer-js.org/dist/plugin/wavesurfer.timeline.min.js"></script>
  <script src="https://wavesurfer-js.org/dist/plugin/wavesurfer.regions.min.js"></script>
  <style>
  /* Adds a seekbar to the waveform */
  #waveform > wave > wave { border-right: 1px solid rgba(255,192,160, 1.000) !important; }
  /* Used to display the icon outside of the wave (next style) */
  #waveform > wave { overflow: visible !important; }
  /* Display the comment/annotation icons slightly above their related segment. */
  .wavesurfer-region > i { margin-top: -5px; }
    /* Increases the width of the re-size handle and adds a color to make it clear where to re-size.
    This is a workaround as per issue #630 of wavesurfer */
  .wavesurfer-handle { background: rgba(0, 0, 0, 0.3); min-width: 4px; }
  #controls { margin: .25rem auto; width: 30%; }
  .chips-autocomplete .input { width: 260px !important; }
  .comment-header, .comment-body { padding: 18px; }
  .comment-header { background-color: #f6f8fa; border-bottom: 1px solid #d1d5da; }
  .comment-body > p:first-of-type { text-indent: 2.5%; margin: 0; }
  .author { color: #586069; }
  #interviews { position: absolute; right: 0; width: 140px; z-index: 10120; }
  #interviews > i { position: absolute; font-weight: 600; left: 0; z-index: 1012018; cursor: pointer; }
  .collection.with-header .collection-item { padding-left: 20px; margin-bottom: 0; }
  </style>
{%- endblock %}
{% from "views/shared/macros.html" import render_comment %}
{% block content %}

        <div class="collection right" id="interviews">
          <i class="material-icons tiny left">keyboard_arrow_right</i>
          {%- for interview in interviews %}
          <a href="{{ url_for('project.session', interview_id=interview.id) }}" class="collection-item truncate">
            <b>{{ loop.index }}.</b> {{ interview.prompt_text().title() }}
          </a>{% endfor %}
        </div>
        <h5><b>Participants:</b>{% for p in participants %} {{ p['name'] }}{% if not loop.last %},{% endif %}{% endfor %}</h5>

        <div id="waveform"></div>
        <div id="waveform-timeline"></div>

        <div id="controls">
          <a class="btn waves-effect tooltipped" data-position="top" data-delay="40" data-tooltip="Create comment" onclick="showCommentForm()"><i class="material-icons">comment</i></a>
          <span onclick="wavesurfer.playPause()">
            <a class="btn waves-effect" id="play"><i class="material-icons">play_arrow</i></a>
            <a class="btn waves-effect" id="pause" style="display: none"><i class="material-icons">pause</i></a>
          </span>
          <a class="btn waves-effect tooltipped" data-position="top" data-delay="40" data-tooltip="Create theme" onclick="showAnnotationForm()"><i class="material-icons">bookmark_border</i></a>
        </div>

        <div class="row">
          <div class="col s12 m6" id="comments">
            <h5>Comments</h5>
            {%- for comment in comments %}
            <div class="commentContainer">
              {{ render_comment(comment) }}
            </div>
            {% endfor -%}
          </div>

          <div class="col s12 m6" id="annotations">
            <h5>Themes</h5>
            <div class="chips"></div>
          </div>
        </div>

        <form method="POST" class="col s12" id="commentForm" style="display: none">
          <div class="row">
            <span class="closeForm btn-floating right"><i class="material-icons">close</i></span>
            <div class="input-field col s12">
              <textarea id="CommentFormContent" class="materialize-textarea" rows="3" name="CommentFormContent" maxlength=280 required autofocus></textarea>
              <label for="CommentFormContent">Add your comment</label>
            </div>
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light right" type="submit">Save</button>
            </div>
          </div>
        </form>

        <form method="POST" class="col s12" id="annotationForm" style="display: none">
          <div class="row">
            <span class="closeForm btn-floating right"><i class="material-icons">close</i></span>
            <div class="input-field col s12 tooltipped" data-position="top" data-delay="40" data-tooltip="Type a theme and press <b>enter</b> to create it. You can create many.">
              <div class="chips chips-autocomplete"></div>
            </div>
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light right" type="submit">Save</button>
            </div>
          </div>
        </form>
{%- endblock %}
{%- block fscripts %}
  <script>
    // Variables rendered via templating engine (Jinja2)
    var comments = {{ comments | safe }};
    var annotations = {{ annotations | safe }};
    var audioURL = "{{ interview.audio }}";
    var currentUserFullName = "{{ current_user.fullname }}";
    var currentInterviewID = {{ interview.id }};
    var createCommentURL = "{{ url_for('project.interview_response', _external=True) }}";

    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: 'rgba(153, 153, 153, 1.000)',
        progressColor: 'rgba(255,192,160, 1.000)',
        cursorColor: 'rgba(255, 0, 0, 0.0)',
        normalize: true
    });

    wavesurfer.on('play', function () {
        document.querySelector('#play').style.display = 'none';
        document.querySelector('#pause').style.display = '';
    });

    wavesurfer.on('pause', function () {
        document.querySelector('#play').style.display = '';
        document.querySelector('#pause').style.display = 'none';
    });

    wavesurfer.on('region-in', function (region) {
        if (region.data.type == 0) {
            $('#comments').append(
                "<div class=\"r-" + region.id + " card-panel no-padding\">" +
                    "<div class=\"comment-header\">" +
                    "  <strong>" +
                    "    <a class=\"author\" href=\"#\">" + region.data.author +
                    "    </a>" +
                    "  </strong> &mdash; " +
                    "  <time datetime=" + "\"" + region.data.timestamp + "\">" +
                        region.data.days_since + " days ago" + "</time>" +
                    "</div>" +
                    "<div class=\"comment-body\">" +
                    "  <p class=\"black-text\">" +
                         region.data.content +
                    "  </p>" +
                    "  <a href=\"#\"><i class=\"material-icons right\" onclick=\"showRespondCommentForm()\">reply</i>&nbsp;</a>" +
                    "</div>" +
                "</div>");

            $('#comments').show();
        }
        else {
            JSON.parse(region.data.content).forEach(function(item) {
                $("#annotations").find(".chips").append(
                    "<div class=\"r-" + region.id + " chip\">" + item.tag + "</div>"
                );
            });
            $('#annotations').show();
        }
    });

    wavesurfer.on('region-out', function (region) {
        $('.r-'+region.id).remove();
    });

    // When audio is loaded, decoded and draw waveform. Fires before waveform is drawn.
    wavesurfer.on('ready', function () {
        comments.forEach(function(i) { addRegion(i, false, false); });
        annotations.forEach(function(i) { addRegion(i, false, false); });
    });

    wavesurfer.load(audioURL);

    var timeline = Object.create(WaveSurfer.Timeline);

    timeline.init({
        wavesurfer: wavesurfer,
        container: '#waveform-timeline'
    });

    // This is the region that will be created for an annotation/comment if the form is submitted
    var regionToCreate = {};

    function showAnnotationForm()
    {
        wavesurfer.pause();
        // When the annotation button is clicked and the form is open.
        if ($('#annotationForm').is(":visible")) {
            $('#annotationForm').hide();
            $('#comments').show();
            $('#annotations').show();
            // The 'Annotate' button was clicked again,
            // so remove the region previously added as it was not saved.
            wavesurfer.regions.list[regionToCreate.id].remove();
            regionToCreate = {};
        }
        else {
            $('#annotationForm button').addClass('disabled');
            $('#annotationForm').show();
            $('#commentForm').hide();
            $('#comments').hide();
            $('#annotations').hide();
            $('#controls').hide();

            $('.chips-autocomplete .chip').remove();
            $('.chips-autocomplete > .input').val("");
            // Required to remove old (tags) from the data array
            $('.chips-autocomplete').material_chip('data').length = 0;

            setTimeout(function() {
                $('.chips-autocomplete > .input').focus();
            }, 0);

            updateRegionToCreate(1);
        }
    }

    function showCommentForm()
    {
        wavesurfer.pause();

        if ($('#commentForm').is(":visible")) {
            $('#commentForm').hide();
            $('#comments').show();
            $('#annotations').show();
            wavesurfer.regions.list[regionToCreate.id].remove();
            regionToCreate = {};
        }
        else {
            $('#commentForm').show();
            $('#annotationForm').hide();
            $('#comments').hide();
            $('#annotations').hide();
            $('#controls').hide();
            $('#CommentFormContent').val();

            setTimeout(function() {
                $('#CommentFormContent').show().focus();
            }, 0);

            updateRegionToCreate(0);

            Materialize.updateTextFields();
        }
    }

    function updateRegionToCreate(type)
    {
            _content = (type === 0) ? $('#CommentFormContent').val() : JSON.stringify($('.chips-autocomplete').material_chip('data'));

            // The ID is set here be used as a lookup and not to clash with comment/annotation database IDs.
            regionToCreate = {
                'content' : _content,
                'start'   : wavesurfer.getCurrentTime() - 10,
                'end'     : wavesurfer.getCurrentTime(),
                'type'    : type,
                'creator' : currentUserFullName,
                'id'      : Math.floor(Math.random() * (100000 - 10000) + 10000),
                'iid'     : currentInterviewID
            };

            addRegion(regionToCreate, true, true);
    }

    /**
     * Used when initially adding regions to the waveform, AND when adding a new
     * comment or annotation, hence the need to customize drag/resize as these are
     * not desired for all comments.
     */
    function addRegion(item, drag, resize)
    {
        wavesurfer.addRegion(
        {
            id: item.id,
            start: item.start,
            end: item.end,
            data: {
                content: item.content,
                author: item.creator,
                timestamp: item.timestamp === undefined ? 0 : item.timestamp,
                days_since: item.days_since === undefined ? 0 : item.days_since,
                type: item.type,
                responses: item.responses === undefined ? [] : item.responses
            },
            drag: drag,
            resize: resize
        });

        var type = (item.type === 0) ? "comment" : "bookmark_border";
        $('[data-id=' + item.id + ']').append('<i class="material-icons tiny right">' + type + '</i>');
    }

    function postForm()
    {
        _content = (regionToCreate.type === 0) ? $('#CommentFormContent').val() : JSON.stringify($('.chips-autocomplete').material_chip('data'));

        // Update local prior to pushing to server
        regionToCreate.content = _content;
        regionToCreate.start = wavesurfer.regions.list[regionToCreate.id].start;
        regionToCreate.end = wavesurfer.regions.list[regionToCreate.id].end;

        // Update on local machine to reflect view on refresh
        wavesurfer.regions.list[regionToCreate.id].data.content = _content;
        wavesurfer.regions.list[regionToCreate.id].drag = false;
        wavesurfer.regions.list[regionToCreate.id].resize = false;

        $.ajax({
            type     : 'POST',
            url      : createCommentURL,
            data     : regionToCreate,
            dataType : 'json',
            encode   : true
        }).done(function(data) {
            if(data.success) {
                Materialize.toast("Thanks for adding your " + (regionToCreate.type === 0 ? "comment" : "theme"), 4000);
                wavesurfer.play();
            }
        });
        $('#comments').show();
        $('#annotations').show();
        $('#controls').show();
        // Once a comment OR annotation is made, then do not show the tooltips again.
        $('.tooltipped').tooltip('remove');
        wavesurfer.playPause();
    }

    function showSuggestions(selectedTheme)
    {
        // TODO: the suggestion will be populated with segments from other interview sessions
        // of this project that contains the same (or similar?) selected theme.
        // This way, the user can (1) vote (up/down) on how related the segments are, or
        // (2) listen to understand if the theme is well worded for the segment (peer-review).
        _suggestion = (
            "<div class=\"col s4 m4\">"+
                "<div class=\"card-image\">"+
                  "<img src=\"{{ url_for('static', filename='img/soundwave.png') }}\">" +
                "</div>" +
            "</div>"
        );

        return (
            "<div class=\"card\">" +
                "<div class=\"card-content\">" +
                  "<span class=\"card-title\">Other audios related to <b>" + selectedTheme + "</b></span>" +
                   "<div class=\"row\">" +
                     _suggestion +
                     _suggestion +
                     _suggestion +
                   "</div>" +
            "</div>"
        );
    }

    $(document).ready(function() {

        $('#interviews').find("i").click(function() {
            if ($(this).parent().width() > 20)
                $(this).parent().width("20").find("i").text("keyboard_arrow_left");
            else
                $(this).parent().width("140").find("i").text("keyboard_arrow_right");
        });

        $('.chips-autocomplete').material_chip({
            autocompleteData: annotations,
            autocompleteLimit: 5,
            placeholder: 'Add another theme?',
            secondaryPlaceholder: 'Type and press enter to create a theme'
        });

        // Using AJAX as we want to stay on this page when the form is submitted.
        $('#commentForm').submit(function(event) {
            $('#commentForm').toggle();
            postForm();
            event.preventDefault();
        });

        $('#annotationForm').submit(function(event) {
            $('#annotationForm').toggle();
            postForm();
            event.preventDefault();
        });

        $( ".closeForm" ).bind( "click", function() {
            $('#commentForm').hide();
            $('#annotationForm').hide();
            $('#controls').show();

            $('#comments').show();
            $('#annotations').show();

            $('#controls > .tooltipped').tooltip('remove');

            wavesurfer.regions.list[regionToCreate.id].remove();
            regionToCreate = {};
            wavesurfer.playPause();
        });

        $('.chips').on('chip.add', function(e, chip){
            $('#annotationForm button').removeClass('disabled');
        });

        $("#annotations").find(".chips").on("click", ".chip", function() {
            // Remove suggestions if they are already showing, e.g. when clicking between chips
            $("#annotations").find(".card").remove();
            // Only show the suggestions if the card has been selected
            if (!$(this).hasClass("selected")) $("#annotations").append(showSuggestions($(this).text()));
        });

        Materialize.toast('You can create comments or themes when the audio is playing.', 3000);
        $('.tooltipped').tooltip({html: true});
    });
  </script>
{%- endblock %}
