{% extends "views/shared/layout.html" %}
{% block scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js"></script>
  <script src="http://wavesurfer-js.org/dist/plugin/wavesurfer.timeline.min.js"></script>
  <script src="http://wavesurfer-js.org/dist/plugin/wavesurfer.regions.min.js"></script>
  <style>
  /* Adds a seekbar to the waveform */
  #waveform > wave > wave { border-right: 1px solid rgba(255,192,160, 1.000) !important; }
  /* Used to display the icon outside of the wave (next style) */
  #waveform > wave { overflow: visible !important; }
  /* Display the comment/annotation icons slightly above their related segment. */
  .wavesurfer-region > i { margin-top: -5px; }
  /* Force the controls to the bottom. */
  #controls { position: absolute; bottom: 60px; }
  .chips-autocomplete .input { width: 250px !important; }
  </style>
{%- endblock %}
{% block content %}
        <h5><b>{{ participants[0]['name'] }}</b> interviewing <b>{{ participants[1]['name'] }}</b></h5>

        <div id="waveform"></div>
        <div id="waveform-timeline"></div>

        <div class="row">
          <div class="col s12 m6" id="comments">
            <h5>Comments</h5>
          </div>
          <div class="col s12 m6" id="annotations">
            <h5>Annotations</h5>
          </div>
        </div>

        <div id="controls">
          <a class="waves-effect btn" onclick="addAnnotation()"><i class="material-icons">label_outline</i></a>
          <a class="waves-effect btn" onclick="addComment()"><i class="material-icons">comment</i></a>
          <span onclick="wavesurfer.playPause()">
            <a class="waves-effect btn" id="play"><i class="material-icons">play_arrow</i></a>
            <a class="waves-effect btn" id="pause" style="display: none"><i class="material-icons">pause</i></a>
          </span>
        </div>

        <form method="POST" action="/project/interview/comment/" class="col s12" id="commentForm" style="display: none">
          <div class="row">
            <div class="input-field col s6 hide">
              <input type="number" id="start" name="start">
              <label for="start">Start</label>
            </div>
            <div class="input-field col s6 hide">
              <input type="number" id="end" name="end">
              <label for="end">End</label>
            </div>
            <div class="input-field col s12">
              <textarea id="content" class="materialize-textarea" rows="3" name="content"></textarea>
              <label for="content">Add your comment</label>
            </div>
            <div class="input-field col s12">
              <button id="commentFormSubmit" name="comment" class="btn waves-effect waves-light right" type="submit">Save</button>
            </div>
          </div>
        </form>

        <form method="POST" action="/project/interview/annotation/" class="col s12" id="annotationForm" style="display: none">
          <div class="row">
            <div class="input-field col s12">
              <div class="chips chips-autocomplete"></div>
            </div>
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light right" type="submit">Save</button>
            </div>
          </div>
        </form>
{%- endblock %}
{%- block fscripts %}
  <script>
    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: 'rgba(153, 153, 153, 1.000)',
        progressColor: 'rgba(255,192,160, 1.000)',
        cursorColor:'rgba(255, 0, 0, 0.0)',
        normalize: true
    });

    wavesurfer.on('play', function () {
        document.querySelector('#play').style.display = 'none';
        document.querySelector('#pause').style.display = '';
    });

    wavesurfer.on('pause', function () {
        document.querySelector('#play').style.display = '';
        document.querySelector('#pause').style.display = 'none';
    });

    wavesurfer.on('region-in', function (region) {
        $('#comments').append(
            "<div id=\"r-" + region.id + "\" class=\"card-panel\">" +
            "  <span class=\"black-text\">" +
                  region.data.content +
            "  </span>" +
            "</div>");

        $('#comments').show();
    });

    wavesurfer.on('region-out', function (region) {
        // remove based on region id?
        $('#r-'+region.id).remove();
    });

    wavesurfer.load('{{ interview.audio }}');

    var timeline = Object.create(WaveSurfer.Timeline);

    timeline.init({
        wavesurfer: wavesurfer,
        container: '#waveform-timeline'
    });

    function addAnnotation()
    {
        $('#comments').toggle();
        $('#annotations').toggle();
        $('#annotationForm').toggle();
        wavesurfer.pause();
    }

    function addComment()
    {
        $('textarea[name=content]').val("");
        $('#comments').toggle();
        $('#annotations').toggle();
        $('#commentForm').toggle();
        wavesurfer.pause();
        $('#start').val(Math.floor(wavesurfer.getCurrentTime()));
        Materialize.updateTextFields();
    }

    function addRegion(item)
    {
        wavesurfer.addRegion(
        {
            id: item.id,
            start: item.start,
            end: item.end,
            data: {
                content: item.content,
                // Used to differentiate between comment and annotations
                type: item.type
            },
            drag: false,
            resize: false
        });
        var type = (item.type == "comment") ? "comment" : "tag";
        $('[data-id=' + item.id + ']').append('<i class="material-icons tiny right">' + type + '</i>');
    }

    // When audio is loaded, decoded and draw waveform. Fires before waveform is drawn.
    wavesurfer.on('ready', function () {
        {{ comments | safe }}.forEach(addRegion);
    });

    $(document).ready(function() {

        $('.chips-autocomplete').material_chip({
            // TODO: populate autocompleteData from server-side
            autocompleteData: { 'Apple': null },
            autocompleteLimit: 5,
            placeholder: 'Add another annotation?',
            secondaryPlaceholder: 'Press enter to create your annotation'
        });

        // Using AJAX as we want to stay on this page when the form is submitted.
        $('#commentForm').submit(function(event) {

            $('#commentForm').toggle();

            var start = Number($('input[name=start]').val());
            var end = Number($('input[name=end]').val());

            var commentFormData = {
                'content' : $('textarea[name=content]').val(),
                'start'   : start <= 0 ? start : start - 5,
                'end'     : (end == 0 || end <= start) ? start : end,
                'iid'     : {{ interview.id }}
            };

            $.ajax({
                type     : 'POST',
                url      : '/project/interview/comment/',
                data     : commentFormData,
                dataType : 'json',
                encode   : true
            }).done(function(data) {
                // Instead of reloading the page, we add the region here as
                // once the page is refreshed it will show anyway.
                if(data.success) {
                    // Large integer that is unlikely to clash with database id
                    commentFormData.id = Math.floor(Math.random() * (100000 - 10000) + 10000);
                    commentFormData.type = 'comment';
                    addRegion(commentFormData);
                    Materialize.toast("Thanks for adding your comment", 4000);
                    wavesurfer.play();
                }
            });
            event.preventDefault();
            $('#comments').show();
        });

    });
  </script>
{%- endblock %}
