{% extends "views/shared/layout.html" %}
{% block content %}
        <h1 class="text-center">Session for {{ project_name }}</h1>
        <hr>
        {%- for session in sessions %}
        <div class="col s6 m4">
          <div class="card sticky-action">
            <div class="card-content">
              <span class="card-title grey-text text-darken-4"><b>{{ session['creation_date'] }}</b></span>
              <b>{{ session['participants'] | length }}</b> participants and <b>{{ session['interviews'] | length }}</b> interviews.
            </div>
            <div class="card-action">
              <a href="{{ url_for('project.session', interview_id=session['first_interview_id']) }}">View</a>
            </div>
          </div>
        </div>
        {%- endfor -%}
{%- endblock %}