{% extends "views/shared/layout.html" %}
{% block content %}
        <div id="loginForm" class="z-depth-1 lighten-4 col s12 m6 l6 offset-m3 offset-l3">
          <h5>Log in to Gabber</h5>
          {% from "views/shared/macros.html" import render_field %}
          <form method="POST">
            {{ form.csrf_token }}
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class='row'>
              <div class='input-field col s12'>
                {{ render_field(form.email) }}
                <label for='email'>Email</label>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
                {{ render_field(form.password) }}
                <label for='password'>Password</label>
              </div>
            </div>
            <button class="col s12 btn waves-effect waves-light right" type='submit'>Login</button>
          </form>
        </div>{% endblock %}
{% block fscripts %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
{%- endblock %}