{% extends "views/shared/layout.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Gabber login</h1>{% from "views/shared/macros.html" import render_field %}
          <form method="POST">
            {{ form.csrf_token }}
            <input type="hidden" name="next" value="{{ next }}"/>
            {{ render_field(form.email, class="form-control", placeholder="Email", autofocus="") }}
            {{ render_field(form.password, class="form-control", placeholder="Password") }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>
    </div>
{% endblock %}
