{% extends "views/shared/layout.html" %}
{% block content %}
        <div class="z-depth-1 grey lighten-4 col s12 m6 l6 offset-m3 offset-l3" style="display: inline-block; padding: 32px 48px; margin-top: 1.68rem; border: 1px solid #EEE;">
          <h5>Please login into your account</h5>
          <div class="section"></div>
          {% from "views/shared/macros.html" import render_field %}
          <form method="POST">
            {{ form.csrf_token }}
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class='row'>
              <div class='input-field col s12'>
                {{ render_field(form.email) }}
                <label for='email'>Enter your email</label>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
                {{ render_field(form.password) }}
                <label for='password'>Enter your password</label>
              </div>
            </div>
            <button class="col s12 btn waves-effect waves-light right" type='submit'>Login</button>
          </form>
        </div>{% endblock %}
