{% extends "views/shared/layout.html" %}
{%- from "views/shared/macros.html" import render_prompt -%}
{% block styles %}
  <style>
  .actions { height: 0; }
  .actions .btn-floating { width: 25px; height: 25px; line-height: 25px; }
  .actions .btn-floating i { line-height: 25px; font-size: 1.2em; }
    .upload { right: 10px; bottom: 10px; }
    .delete { left: 83%; bottom: 10px; }
  .card-content .input-field { margin-top: 0; }
  .card .card-image { background: #4696BB; height: 150px; }
  .card-image input { height: 100%; width: 100%; display: none; }
  .card .card-image, .card .card-image img, .card .card-image input { cursor: pointer; }

  .error{
	display: none;
	margin-left: 10px;
  }

  .error_show {
	margin-left: 25px;
    color: #FFFFFF;
  }

  .chips .input {
      width: 40% !important;
  }

  .chips.invalid {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
  }

  .hidden { display: none; }

  </style>
{%- endblock %}
{% block content %}
        <form id="projectCreationForm" method="POST" enctype="multipart/form-data">

          <div class="input-field col s12 m9">
            <input name="title" type="text" id="title" value="{{ project.title if project }}">
            <label for="title" id="titleLabel">The title of your project</label>
            <span class="error">A title for your project is required</span>
          </div>

          <div class="valign-wrapper col s12 m3">
            <h5 class="switch">
              <label id="ispublicLabel">
                Private
                <input {% if project and project.type == 1 %}checked {% endif %} type="checkbox" name="ispublic" id="ispublic">
                <span class="lever"></span>
                Public
              </label>
            </h5>
          </div>

          <div class="col s12">
            <div class="input-field">
              <textarea required name="description" id="description" class="materialize-textarea">{{ project.description if project }}</textarea>
              <label for="description" id="descriptionLabel">The description of your project</label>
              <span class="error">A description of your project is required</span>
            </div>
          </div>

          <div class="col s12">
              <h5>Create a codebook to structure the audio annotation process</h5>
              <div class="chips chips-initial input-field"></div>
          </div>

          <div id="promptContainer" class="col s12">
            <h5>The prompts associated with your project</h5>
            {%- if project -%}
              {% for prompt in project.active_prompts() -%}
                {{ render_prompt(prompt.id, prompt.text_prompt.lower(),
                url_for('static', filename='img/' + project.id|string + "/" + prompt.image_path)) }}
              {%- endfor -%}
            {%- endif %}
          </div>

          <div class="fixed-action-btn click-to-toggle">
            <a class="btn-floating btn-large"><i class="material-icons">menu</i></a>
            <ul>
              <li><a class="btn-floating submit"><i class="material-icons">send</i></a></li>
              <li><a class="btn-floating add-prompt"><i class="material-icons">add</i></a></li>
            </ul>
          </div>

        </form>
{%- endblock %}
{% block fscripts %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script>
    function readURL(event) {
      var tgt = event.target || window.event.srcElement, files = tgt.files;
      // No fallback for now: assume modern device.
      if (FileReader && files && files.length) {
        var fr = new FileReader();
        fr.onload = function () {
            // Find the image in the card-image container to set.
            // This is preferred over matching IDs
            $(event).parent().find('img').attr("src", fr.result);
        };
        fr.readAsDataURL(files[0]);
      }
    }

    $(function() {
        var generated_pids = [];

        $('.chips').material_chip();

        $('.chips-initial').material_chip({
            data: {{ codebook|tojson }},
            placeholder: 'Add another',
            secondaryPlaceholder: 'Press enter to add a code'
        });

        $('#title').on('input', function() {

            var input=$(this);

	        if(input.val()){
	            $('#titleLabel')[0].innerText = "The title of your project";
	            input.removeClass("invalid").addClass("valid");
	        }
	        else {
	            $('#titleLabel')[0].innerText = "Error: please enter a title of your project";
	            input.removeClass("valid").addClass("invalid");
	        }
        });

        $('#description').on('input', function() {

            var input=$(this);

	        if(input.val()){
	            $('#descriptionLabel')[0].innerText = "The short description of your project";
	            input.removeClass("invalid").addClass("valid");
	        }
	        else {
	            $('#descriptionLabel')[0].innerText = "Error: please enter a short description of your project";
	            input.removeClass("valid").addClass("invalid");
	        }
        });

        $(".submit").on("click", function() {
            var form_data=$("#projectCreationForm").serializeArray();

            var error_free = true;

            for (var input in form_data) {
                var element = $("#" + form_data[input]['name']);
                // Very much procedural code: trigger item such that the valid class is set
                // The reason for this is because we only want to validate prompts and codes below,
                // also, when the form is submitted it only completes if all elements are valid.
                if (element.selector.includes("title")) {
                    $('#title').trigger('input');
                }
                if (element.selector.includes("description")) {
                    $('#description').trigger('input');
                }

                // Remove the Public/Private toggle from the form_data to validate
                if (element.selector === "#ispublic") {
                    form_data.splice(input, 1);
                    continue;
                }

                var valid = element.hasClass("valid");

                // This is a prompt, so we must validate it here as the IDs are random
                if (element[0].id.split("-")[0] === "promptText") {
                    if(element.val()){
	                    element[0].placeholder = "The description of your project";
	                    element.removeClass("invalid").addClass("valid");
	                    error_free = true;
	                }
	                else {
                        element[0].placeholder = "Error: please add text for your prompt";
	                    element.removeClass("valid").addClass("invalid");
	                    error_free = false;
	                }

	                // Now, each prompt must have an image ...
                    {#var card = $(".card-image", element.parent().parent().parent());#}
                    {#var img_src = card.find('img')[0].src;#}
                    {#var _error = card.find('.error');#}
                    {#// e.g. an image has been uploaded as it's converted to a data stream; default src is root domain#}
                    {#if (img_src.split(":")[0] === "data") {#}
                    {#    _error.removeClass("error_show").addClass("error");#}
                    {#}#}
                    {#else {#}
                    {#    _error.removeClass("error").addClass("error_show");#}
                    {#    error_free = false;#}
                    {#}#}
                }
            }

            var codebook = $('.chips').data().chips;

            if (codebook.length <= 0) {
                $('.chips').addClass("invalid").removeClass("valid");
                $('.chips > .input')[0].placeholder = "Error: please enter a list of codes";
                error_free = false;
            }
            else {
                $('.chips').removeClass("invalid").addClass("valid");
                $('.chips > .input')[0].placeholder = "Add another";
            }

            if (!error_free) {
                event.preventDefault();
            }
            else {
                $('#projectCreationForm').append($('<textarea class="hidden" name="codebook"/>').text(JSON.stringify(codebook))).submit();
            }
        });

        $(".add-prompt").on("click", function() {
            // Adds a new prompt-card to the page. At this stage, a new prompt is not
            // created server-side as the prompt may be removed locally.
            gpid = Math.floor(Math.random() * (100000000 - 1000000 + 1)) + 1000000;
            generated_pids.push(gpid);
            prompt = {{ render_prompt("new", "", "/")|tojson }};
            prompt = prompt.replace(/new/g, gpid);
            // Problem: the ID is not necessary?
            $("#promptContainer").append(prompt);
            // Brings the prompt into focus by jumping to the bottom
            window.scrollTo(0,document.body.scrollHeight);
        });

        $("#promptContainer").on("click", ".actions .upload", function() {
            // The input field uses HTML5 file upload, which is hidden on the screen,
            // which cannot easily be overlaid with the upload button.
            // TODO: remove use of IDs as we cannot rely on those as they are the same?
            $(this).parent().parent().find(".card-image input").click();
        });

        $("#promptContainer").on("click", ".actions .delete", function() {
            // Declared here as cannot access this from inside an ajax request.
            card = $(this).closest(".col");
            // A prompt is created locally to prevent unnecessary database read/writes.
            if (generated_pids.indexOf($(this).data("prompt-id")) > -1) { card.remove(); return false; }
            $.ajax({
                type     : "POST",
                url      : "{{ url_for("api.delete_prompt", _external=True) }}",
                data     : {"prompt-id": $(this).data("prompt-id")},
                dataType : "json",
                encode   : true
            }).done(function(data) {
                if(data.success) {
                    Materialize.toast("The prompt was successfully been deleted.", 4000);
                    card.remove();
                }
            }).fail(function(data){
                Materialize.toast(data.responseJSON.error, 4000);
            });
        });
    });

  </script>
{%- endblock %}
