{% extends "views/shared/layout.html" %}
{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js"></script>
  <script src="https://wavesurfer-js.org/dist/plugin/wavesurfer.timeline.min.js"></script>
  <script src="https://wavesurfer-js.org/dist/plugin/wavesurfer.regions.min.js"></script>
  <style>
  /* Adds a seekbar to the waveform */
  #waveform > wave > wave { border-right: 1px solid rgba(255,192,160, 1.000) !important; }
  /* Used to display the icon outside of the wave (next style) */
  #waveform > wave { overflow: visible !important; }
  /* Display the comment/annotation icons slightly above their related segment. */
  .wavesurfer-region > i { margin-top: -15px; }
    /* Increases the width of the re-size handle and adds a color to make it clear where to re-size.
    This is a workaround as per issue #630 of wavesurfer */
  .wavesurfer-handle { background: rgba(0, 0, 0, 0.3); min-width: 4px; }
  #controls { float: right; }
  .chips-autocomplete .input { width: 260px !important; }
  .connection-header, .connection-body { padding: 18px; }
  .connection-header { background-color: #f6f8fa; border-bottom: 1px solid #d1d5da; }
  .connection-body > p:first-of-type { margin: 0; }
  .author { color: #586069; }
  #interviews { position: absolute; right: 0; width: 150px; z-index: 0; }
  #interviews > i { position: absolute; font-weight: 600; left: 0; z-index: 1012018; cursor: pointer; }
  .collection.with-header .collection-item { padding-left: 20px; margin-bottom: 0; }
  #connections > h5 { font-weight: 700; }
  .chip.selected { background-color: #4696BB; color: white; }
  .closeForm i { line-height: 25px; font-size: 1.4em; }
  .closeForm { width: 25px; height: 25px; line-height: 25px; }
  #codebook { margin: 25px 0;}
  #connections > ul { padding-left: 1.68em; }
  #connections > ul > li { list-style-type: circle; }
  #commentForm { margin-top: 1.68em; }
  .child { margin-left: 1rem; }
  </style>
{%- endblock %}
{% from "views/shared/macros.html" import render_connection %}
{% block content %}
        <div class="collection with-header right" id="interviews">
          <p class="collection-header"><b>Other interviews in this session</b></p>
          {%- for interview in interviews %}
          <a href="{{ url_for('project.session', interview_id=interview.id) }}" class="collection-item truncate">
            <b>{{ loop.index }}.</b> {{ interview.prompt_text().title() }}
          </a>{% endfor %}
        </div>

        <h5><b>{{ interview.prompt_text().capitalize() }}</b></h5>
        <p><i>{% for p in participants %} {{ p['name'] }}{% if not loop.last %},{% endif %}{% endfor %}</i></p>

        <div id="waveform"></div>
        <div id="waveform-timeline"></div>

        <div id="controls">
          <span onclick="wavesurfer.playPause()">
            <a class="btn waves-effect" id="play"><i class="material-icons">play_arrow</i></a>
            <a class="btn waves-effect" id="pause" style="display:none;"><i class="material-icons">pause</i></a>
          </span>
          <a class="btn waves-effect" id="createConnection">Create connection</a>
        </div>

        <div class="col s12 m6" id="connections">
          <div id="ConnectionsMade" style="display:none;">
          <h5>Connections made</h5>
            {%- for connection in connections %}
          <div class="commentContainer">
          {{ render_connection(connection) }}
          </div>
            {% endfor -%}
          </div>

          <div id="Instructions" style="display:none;">
          <h5><b>What is a connection?</b></h5>
          <p id="instructions"><i>
          Connections are your understanding, reflection and opinions of a moment of an interview,
          which will be used to support dialogue between yourself, this client and other staff around
          <b>moments</b> of an interview that may otherwise be missed in conversation.</i></p>
          <h6><b>Creating connections</b></h6>
          <p>Once you click <i>create connection</i> you will be presented with a set of words/phrases
          to help you structure your reflection; choose those that best describe why you have chosen
          to create a connection for this moment, and write how this relates to your experiences.
          You will also notice a rectangle overlapped that audio moment, which is the
          piece of the interview that you are making this connection with.</p>
          <h6><b>Connection options</b></h6>
          <ul>
            <li><b>Increase or decrease</b> a moment by dragging the sides</li>
            <li><b>Move</b> a moment by <i>dragging</i> it around</li>
            <li>Playback a moment using <code>Shift+Left-Click</code></li>
            <li>Pause a moment by <code>double clicking</code> on it</li>
          </ul>
          </div>

        </div>


        <form method="POST" class="col s12" id="makeConnection" style="display:none;">
          <div class="row">
            <div class="input-field col s12">
                <span class="closeForm btn-floating right"><i class="material-icons">close</i></span>
                <h5>Select one of the following that describes this moment of the conversation</h5>
                <div id="codebook">
                {%- for code in interview.codebook() %}
                  <div class="chip" data-codeid="{{ code['id'] }}">{{ code['text'] }}</div>
                {%- endfor %}
                </div>
                <div class="input-field col s12">
                  <textarea id="justifyConnection" class="materialize-textarea" rows="4" autofocus></textarea>
                  <label for="justifyConnection">What do you think about when you listen and make this connection?</label>
                </div>
            </div>
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light right" type="submit">Save</button>
            </div>
          </div>
        </form>

        <form method="POST" data-cidr="0" data-pidr="0" class="col s6" id="commentForm" style="display:none;">
          <div class="row">
            <span class="closeCommentForm btn-floating right"><i class="material-icons">close</i></span>
            <div class="input-field col s12">
              <textarea id="CommentFormContent" class="materialize-textarea" rows="3" name="CommentFormContent" maxlength=280 required autofocus></textarea>
              <label for="CommentFormContent">Add your comment</label>
            </div>
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light right" type="submit">Create response</button>
            </div>
          </div>
        </form>

{%- endblock %}
{%- block fscripts %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script>
    // Variables rendered here for future js refactoring as it
    // is not possible to render jinja2 variables inside JS files.
    var connections = {{ connections | safe }};
    var audioURL = "{{ url_for('consent.protected', filename=interview.audio, _external=True) }}";
    var currentUserFullName = "{{ current_user.fullname }}";
    var currentInterviewID = {{ interview.id }};
    var createConnectionURL = "{{ url_for('api.create_connection', _external=True) }}";
    var createCommentURL = "{{ url_for('api.create_comment_on_connection', _external=True) }}";
    var numOfConnectionsByUser = {{ user_create_a_connection }};

    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: 'rgba(153, 153, 153, 1.000)',
        progressColor: 'rgba(255,192,160, 1.000)',
        cursorColor: 'rgba(255, 0, 0, 0.0)',
        normalize: true
    });

    wavesurfer.on('play', function () {
        $('#play').hide();
        $('#pause').show();
        POSTLogEvent(0, {positioninseconds: wavesurfer.getCurrentTime()})
    });

    wavesurfer.on('pause', function () {
        $('#play').show();
        $('#pause').hide();
        POSTLogEvent(1, {positioninseconds: wavesurfer.getCurrentTime()})
    });

    wavesurfer.on('seek', function (position) {
        POSTLogEvent(2, {positioninseconds: wavesurfer.getCurrentTime()});
    });

    // When audio is loaded, decoded and draw waveform. Fires before waveform is drawn.
    wavesurfer.on('ready', function () {
        if (numOfConnectionsByUser > 0) {
            connections.forEach(function (i) {
                addRegion(i, false, false);
            });
        }
        else {
            Materialize.toast('To view connections for this interview from other people, please create ONE connection.', 4500);
        }

        // Hack: allow users who make a connection to view it, which required a page reload due to
        // how the rendering of connections is implemented. As such, the current duration of
        // the audio was saved prior to a page reload to allow seeking to that point after reload.
        // However, we do not want to seek to that duration between interviews, hence the choice of
        // URL as a unique key. Furthermore, we do not want to keep jumping to the connection if the page
        // is manually reloaded (such as visiting again in the future), hence the choice of 'pageReloaded'.
        var obj = JSON.parse(sessionStorage.getItem('firstConnection'));

        // We are on the same page where the user previously created their first connection
        // Now we want to jump to that connection and resume playing
        // This allows the connection UI to be displayed.
        // We ensure this is set for each interview based on unique URL
        if (obj && obj.url == window.location.href && !obj.pageReloaded)
        {
            // This code should only be run once: after the first connection
            obj.pageReloaded = true;
            sessionStorage.setItem("firstConnection", JSON.stringify(obj));
            // The wavesurfer API is not great: when we play from a point it does not update UI
            wavesurfer.play(obj.currentTime);
            // Hence we need to seek to a point, which takes a variable between 0...1, which is
            // the current previous position divided by the length of the audio.
            wavesurfer.seekTo((obj.currentTime) / wavesurfer.getDuration());
        }
    });

    wavesurfer.on('region-in', function (region) {
        $('.r-'+region.id).show();
        $('.r-'+region.id).parent().show();
    });

    wavesurfer.on('region-out', function (region) {
        $('.r-'+region.id).hide();
        $('.r-'+region.id).parent().hide();
    });

    wavesurfer.on('region-click', function (region, e) {
        POSTLogEvent(3, {regionid: region.id});
        // Play on click, loop on shift click
        e.shiftKey ? region.playLoop() : region.play();
    });

    wavesurfer.on('region-dblclick', function (region, e) {
        POSTLogEvent(4, {regionid: region.id});
        wavesurfer.playPause();
    });

    wavesurfer.load(audioURL);

    var timeline = Object.create(WaveSurfer.Timeline);

    timeline.init({
        wavesurfer: wavesurfer,
        container: '#waveform-timeline'
    });

    // // This is the region that will be created for a connection if the form is submitted
    var regionToCreate = {};

    function addRegionToCreate()
    {
        // The ID is set here be used as a lookup and not to clash with comment/annotation database IDs.
        regionToCreate = {
            'content' : "",
            'codes'   : [],
            'start'   : wavesurfer.getCurrentTime() - 10,
            'end'     : wavesurfer.getCurrentTime(),
            'creator' : currentUserFullName,
            'id'      : Math.floor(Math.random() * (100000 - 10000) + 10000),
            'iid'     : currentInterviewID
        };
        addRegion(regionToCreate, true, true);
    }

    function rgba() {
        return ~~(Math.random() * 255);
    }

    function randomColor() {
        return 'rgba(' + [ ~~(rgba()), ~~(rgba()), ~~(rgba()), 0.1] + ')';
    }

    // { creator name => randomly generated color}; Used to represent annotations.
    var colorsForCreators = {};

    function addRegion(item, drag, resize)
    {
        // Assign a color to each unique creator; this should be configured by user instead?
        if (!(item.creator in colorsForCreators)) {
            color = item.creator === currentUserFullName ? "rgba(178, 214, 255, 0.25)" : randomColor();
            colorsForCreators[item.creator] = color;
        }

        wavesurfer.addRegion(
        {
            id: item.id,
            start: item.start,
            end: item.end,
            data: {
                content: item.content,
                codes: item.codes,
                author: item.creator,
                timestamp: item.timestamp,
                days_since: item.days_since
            },
            color: colorsForCreators[item.creator],
            drag: drag,
            resize: resize
        });
        // Only difference here would be the fact that you can have 'yours' and 'theirs'?
        // $('[data-id=' + item.id + ']').append('<i class="material-icons tiny right">bookmark_border</i>');
    }

    function POSTLogEvent(event_type, content)
    {
        $.ajax({
            type     : 'POST',
            url      : "{{ url_for('api.log_event', _external=True) }}",
            data     : JSON.stringify({type: event_type, content: content}),
            contentType: "application/json",
            dataType: 'json'
        });
    }

    function POSTConnection(codes, justification)
    {
        // Update local prior to pushing to server
        regionToCreate.codes = codes;
        regionToCreate.content = justification;
        regionToCreate.start = wavesurfer.regions.list[regionToCreate.id].start;
        regionToCreate.end = wavesurfer.regions.list[regionToCreate.id].end;

        // Update on local machine to reflect view on refresh
        wavesurfer.regions.list[regionToCreate.id].data.content = justification;
        wavesurfer.regions.list[regionToCreate.id].data.codes = codes;
        wavesurfer.regions.list[regionToCreate.id].drag = false;
        wavesurfer.regions.list[regionToCreate.id].resize = false;

        // Setting this here because the 'makeConnection' submit function only draws
        // connections if this variable is 0. Therefore, if I did before that, then
        // they would never be draw, and likewise, this is called afterwards. Therefore,
        // they would not be redraw again.
        // Perform action here as, for now, we do not want to wait for a response.
        if (numOfConnectionsByUser == 0) {
            numOfConnectionsByUser = 1;
            $('#Instructions').hide();
            $('#ConnectionsMade').show();
        }

        $.ajax({
            type     : 'POST',
            url      : createConnectionURL,
            data     : JSON.stringify(regionToCreate),
            contentType: "application/json",
            dataType: 'json'
        }).done(function(data) {
            if(data.success) {
                Materialize.toast("Thanks for making a connection", 3500);
            }

            // Store details of viewing this connection so we can jump to that part of the audio
            firstConnection = JSON.stringify({
                url: window.location.href,
                pageReloaded: false,
                currentTime: wavesurfer.getCurrentTime()
            });
            
            // Save these to access on reload.
            sessionStorage.setItem("firstConnection", firstConnection);
            // Of course, this is a terrible approach as the reload feels alien for users...
            // However, for now, it is better than not being able to view the connection you have made.
            location.reload();
        });
    }

    // Show the connection form (codes/why) and hide connections/controls
    function toggleConnectionForm()
    {
        // Reset the form each time it was opened
        $('.selected').show().each(function() { $(this).toggleClass("selected", "selected"); });
        $('#justifyConnection').val("");

        $('#makeConnection').toggle();
        $('#controls').toggle();
        $('#connections').toggle();
        $('#justifyConnection').focus();
    }

    var displayInstructionsOnce = false;

    $(document).ready(function() {
        // Only show the instructions if the user HAS NOT created a connection on this audio.
        if (numOfConnectionsByUser == 0) { $('#Instructions').show(); } else { $('#ConnectionsMade').show(); }

        $( "#createConnection" ).bind( "click", function() {
            toggleConnectionForm();
            POSTLogEvent(5, {positioninseconds: wavesurfer.getCurrentTime()});
            // Allows user to focus on creating connection.
            wavesurfer.pause();

            if (!displayInstructionsOnce)  {
                Materialize.toast('Drag a region left or right to increase its size', 4500);
                Materialize.toast('Shift+Click to playback the region.', 4500);
                displayInstructionsOnce = true;
            }

            addRegionToCreate();
        });

        $( ".showReplies" ).bind( "click", function() {
            var parent_comment_id = $(this).closest(".child").data("commentid");
            var connection_id = $(this).closest(".child").data("parentid");

            if (parent_comment_id) {
                POSTLogEvent(6, {commentid : $(this).data("responseid")});
            }
            else {
                POSTLogEvent(7, {connectionid : $(this).data("responseid")});
            }
            wavesurfer.pause();
            // ResponseID is the ID of the comment or connection a response is being made to.
            children = $('*[data-parentid="' + $(this).data("responseid") + '"]');
            // By hiding the child container, all the children (thread) will also be hidden.
            children.toggle();
            children.children(".card-panel").toggle();
        });

        $( ".writeReply" ).bind( "click", function() {
            wavesurfer.pause();
            // We need to know which connection this comment is being made for.
            // Either its a comment on a connection or a comment on a comment of this connection.
            var parent_comment_id = $(this).closest(".child").data("commentid");
            var connection_id = $(this).closest(".child").data("parentid");
            // If the parent comment does not exist, then it is a connection.
            $("#commentForm").data("pidr", parent_comment_id ? parent_comment_id : 0);
            $("#commentForm").data("cidr", parent_comment_id ? connection_id : $(this).data("responseid"));

            if (parent_comment_id) {
                POSTLogEvent(8, {commentid: parent_comment_id});
            }
            else {
                POSTLogEvent(9, {connectionid: $(this).data("responseid")});
            }

            if ($('#commentForm').is(":visible")) {
                $('#commentForm').hide();
            }
            else {
                $('#commentForm').show();
                $('#CommentFormContent').val("");
            }
        });

        $('#commentForm').submit(function(event) {
            event.preventDefault();
            // TODO: validation
            comment = $('#CommentFormContent').val();
            pid = $("#commentForm").data("pidr");
            cid = $("#commentForm").data("cidr");

            if (pid) {
                POSTLogEvent(10, {commentid: pid});
            }
            else {
                POSTLogEvent(11, {connectionid: cid});
            }

            // TODO: refactor to helper
            $.ajax({
                type     : 'POST',
                url      : createCommentURL,
                data     : JSON.stringify({'comment': comment, 'cid': cid, 'pid': pid}),
                contentType: "application/json",
                dataType: 'json'
            }).done(function(data) {
                if(data.success) {
                    Materialize.toast('Thank you for creating a response. ' +
                        'The author of the connection you responded to will be notified.', 4500);
                }
            });

            $('#commentForm').hide();
            wavesurfer.play();
        });

        $( ".closeCommentForm" ).bind( "click", function() {
            $('#commentForm').hide();
            comment_id = $("#commentForm").data("pidr");
            connection_id = $("#commentForm").data("cidr");

            if (comment_id) {
                POSTLogEvent(12, {commentid: comment_id});
            }
            else {
                POSTLogEvent(13, {connectionid: connection_id});
            }
            wavesurfer.play();
        });

        $( ".closeForm" ).bind( "click", function() {
            POSTLogEvent(14, {positioninseconds: wavesurfer.getCurrentTime()});
            toggleConnectionForm();
            wavesurfer.play();
            wavesurfer.regions.list[regionToCreate.id].remove();
        });

        $('#makeConnection').submit(function(event) {
            POSTLogEvent(15, {positioninseconds: wavesurfer.getCurrentTime()});
            // Store all IDs of the selected codes.
            selectedCodes = [];
            $('.selected').show().each(function () {
                selectedCodes.push($(this).data("codeid"));
            });
            justification = $('#justifyConnection').val();

            // TODO: validate...
            toggleConnectionForm();
            wavesurfer.play();
            if (numOfConnectionsByUser == 0) {
                setTimeout(function () {
                    connections.forEach(function (i) {
                        addRegion(i, false, false);
                    });
                    Materialize.toast('You can now view and respond to connections other people have made', 4500);
                }, 1750);
            }
            event.preventDefault();
            POSTConnection(selectedCodes, justification);
        });

        $(".chip").click(function() { $(this).toggleClass("selected", "selected"); });
    });

  </script>
{%- endblock %}
