{% extends "views/shared/layout.html" %}
{% block content %}
        <h1 class="text-center">{{ project_name }} sessions</h1>
        <div class="collection">
         {%- for session in sessions %}
          <a href="{{ url_for('project.session', interview_id=session.id) }}" class="collection-item">
          {{ session.participants.all()|length }} participants (

          {% for part in session.participants.all() %}
            {{ part.fullname() }}
          {%- endfor %}
          ) discussing <b>{{ session.prompts.all() | length }}</b> topics on {{ session.created_on.strftime("%b %d, %Y") }},
          Created by <b>{{ session.creator().fullname }}</b>
          </a>
          {%- endfor %}
        </div>
{%- endblock %}