{%- extends "views/users/shared-layout.html" -%}
{% block title %}Sign up{% endblock %}
{%- block content %}
          <h1>Sign up to Gabber</h1>
          <p class="description">Collaborative annotate and discuss pieces of audio interviews using Gabber.</p>
          <form method="POST">
            {{ form.csrf_token }}
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class='row'>
              <div class='input-field col s12'>
                {{ render_field(form.name) }}
                <label for='name'>Full name</label>
              </div>
              <div class='input-field col s12'>
                {{ render_field(form.email) }}
                <label for='email'>Email</label>
              </div>
              <div class='col s12 input-field password-field'>
                {{ render_field(form.password) }}
                <i class="material-icons show-hide-password">remove_red_eye</i>
                <label for='password'>Password (6 or more characters)</label>
              </div>
              <div class='col s12 input-field button-container'>
                <button class="btn z-depth-0 waves-effect waves-light right" type='submit'>Sign up for Gabber</button>
               </div>
            </div>
            <p class="terms">By signing up, you agree to our
            <a href="{{ url_for('main.terms') }}" target="_blank">Terms of Service</a>
            and <a href="{{ url_for('main.privacy') }}" target="_blank">Privacy Policy</a>.</p>
          </form>
          <div class="form-divider"><h5>or</h5></div>
          <div class='button-container'>
            <a class="btn-flat z-depth-0 waves-effect waves-light" href="{{ url_for('users.login') }}">Log in to Gabber</a>
          </div>
{%- endblock %}