/* Fixed footer at the bottom of the screen. */
body { display: flex; min-height: 100vh; flex-direction: column; }
main { flex: 1 0 auto; }
#footernav > li { display: inline-block; margin: 0 .84rem 0 0; }
