/* Fixed footer at the bottom of the screen. */
.home {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
}

.home, body, .boss { background-image: url("images/overlay.png"); }

h1, h2, h3, h4, h5, h6, .card-title { font-family: 'PT Serif', serif; }
.card-content > p { text-indent: 10px; text-align: justify;  }

#annotations .chips { border: 0; }
.card-title { border-bottom: 1px solid rgba(160,160,160,0.2); }


.chip { cursor: pointer; }
.chip .edit {
  float: right;
  font-size: 16px;
  line-height: 30px;
  padding-left: 6px;
}

.card .card-content { min-height: 160px; }
.card .card-content .card-title { margin-bottom: 12px; }
.card .card-action { text-align: right; }
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):last-child { margin-right: 0; }
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  border-bottom: 1px solid #A0A0A0;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating),
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover,
.card-action > a,
a {
  color: #4696BB;
}

.card { border-top: 5px solid #4696BB; }
main { flex: 1 0 auto; }
#footernav > li { display: inline-block; margin: 0 .84rem 0 0; }
nav { margin-top: 1rem; }
nav ul { text-align: right;  }
nav ul li { float: none; display: inline-block; }
nav ul a, .collection a.collection-item { color: #000000; }
nav ul a { padding: 0 15px; }
@media screen and (max-width: 736px) {
    nav ul { text-align: center; }
}


.options { text-align: right; }
.options a { margin-left: 16px; }
.options sup { top: -1rem; color: black; }

/* about */
.promo i {
    margin: 24px 0;
    color: #4696BB;
    font-size: 5.5rem;
    display: block;
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 12px 0 0 0;
}

/* login */

.valign-wrapper {
    /*Should be 100% on smaller devices...*/
    max-width: 493px;
}

/*TODO: only position right on larger screens */

.sidetip {
    position: absolute;
    left: 380px;
    top: 0;
    width: 300px;
    color: #C33;
    font-size: .85em
}

.sidetip i {
    font-size: 1.1rem;
    margin-right: 3px;
    vertical-align: middle !important;
}

.show-hide-password {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 11px;
}

.webform  {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.webform .row { margin: 0 auto; }

.webform .description { margin-bottom: .5em; }

.button-container { margin-top: 0; padding: 0 .75rem; }
.button-container .btn, .button-container .btn-flat { width: 100%; text-align: center; }
.terms { font-size: .8em; text-align: center; }
input { text-indent: 6px; }

.forgot {
    position: absolute;
    top: -15px;
    right: 13px;
    font-size: .8rem;
}

/* Creates a horizontal divider the main form and login/register buttons */

.form-divider {
    text-align: center;
    position: relative;
    top: 2px;
    margin: 0 16px;
}

.form-divider h5 {
    top: -3px;
    font-size: .8em;
    color: #666;
    font-weight: 600;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #FFF;
    padding: 0 8px;
}

.form-divider:after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]),
.chips.focus {
  border-bottom: 1px solid #4696BB;
  box-shadow: 0 1px 0 0 #4696BB;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #4696BB;
}

/* general */

.btn, .btn-large, .btn-floating, .chips .chip.selected,
.btn:focus, .btn-large:focus, .btn-floating:focus,
.btn:hover, .btn-large:hover, .btn-floating:hover { background-color: #4696CC; }

.fixed-action-btn { bottom: 45px; right: 24px; }
