body { color: white;}


body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

.button {
	min-width: 120px;
}


.button {
	display: inline-block;
	height: 2.85em;
	line-height: 2.95em;
	padding: 0 1.75em;
}

/* Image */

.image {
	border-radius: 6px;
	border: 0;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.image img {
	border-radius: 6px;
	display: block;
}

.image.phone {
	box-shadow: none;
	border-radius: 0;
	margin: 0 0 3em 0;
	width: 13em;
}

.image.phone img {
	border-radius: 0;
	display: block;
	position: relative;
	width: 100%;
}

.image.phone .inner, .image.phone:before, .image.phone:after {
	display: block;
	border: solid 2px rgba(255, 255, 255, 0.25);
}

.image.phone .inner {
	position: relative;
}

.image.phone .inner:before, .image.phone .inner:after {
	content: '';
	position: absolute;
	left: 50%;
}

.image.phone .inner:before {
	top: -1.375em;
	margin-left: -1em;
	width: 2em;
	height: 0.25em;
	border-radius: 0.5em;
	background: rgba(255, 255, 255, 0.25);
}

.image.phone .inner:after {
	bottom: -2.75em;
	margin-left: -1em;
	width: 2em;
	height: 2em;
	border-radius: 100%;
	border: solid 2px rgba(255, 255, 255, 0.25);
}

.image.phone:before, .image.phone:after {
	content: '';
}

.image.phone:before {
	height: 2.5em;
	border-radius: 1em 1em 0 0;
	border-bottom: 0;
}

.image.phone:after {
	height: 3.5em;
	border-radius: 0 0 1em 1em;
	border-top: 0;
}

/* Header */

#header {
	background-color: #4696BB;
	color: #d0e4f8;
	padding: 4.5em 0 2.5em 0;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-image: url("images/overlay.png"), url("images/pattern-size1.svg");
	background-position: top left, center center;
	background-attachment: fixed, fixed;
	background-size: auto, cover;
	height: 100vh;
	min-height: 35em;
}

#header .image {
	box-shadow: 0 0 0 4px #4696BB, 0 0 0 5px rgba(255, 255, 255, 0.25);
}

#header .image.phone {
	box-shadow: none;
}

#header .image.phone .inner, #header .image.phone:before, #header .image.phone:after {
	border-color: rgba(255, 255, 255, 0.25);
}

#header .image.phone .inner:before {
	background: rgba(255, 255, 255, 0.25);
}

#header .image.phone .inner:after {
	border-color: rgba(255, 255, 255, 0.25);
}

#header h1, #header p {
	color: #ffffff;
}

#header h1 {
	font-size: 3.25em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

#header p {
	font-size: 1.5em;
	line-height: 1.35em;
}

#header .content {
	-moz-transition: opacity 0.5s ease, -moz-transform 1s ease;
	-webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
	-ms-transition: opacity 0.5s ease, -ms-transform 1s ease;
	transition: opacity 0.5s ease, transform 1s ease;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
	text-align: right;
	margin: -3.5em 4em 0 0;
}

#header .image {
	-moz-transition: opacity 1s ease, -moz-transform 1s ease;
	-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
	-ms-transition: opacity 1s ease, -ms-transform 1s ease;
	transition: opacity 1s ease, transform 1s ease;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

#header .image img {
	-moz-transition: opacity 0.75s ease;
	-webkit-transition: opacity 0.75s ease;
	-ms-transition: opacity 0.75s ease;
	transition: opacity 0.75s ease;
	-moz-transition-delay: 0.75s;
	-webkit-transition-delay: 0.75s;
	-ms-transition-delay: 0.75s;
	transition-delay: 0.75s;
	opacity: 1;
}

@media screen and (max-width: 1280px) {
	#header {
		background-image: url("images/overlay.png"), url("images/pattern-size2.svg");
	}
}

@media screen and (max-width: 980px) {
	#header {
		min-height: 0;
	}
	#header .content {
		margin: -2em 4em 0 0;
	}
}

@media screen and (max-width: 980px) and (orientation: portrait) {
	#header {
		padding: 6em 3em 4em 3em;
		-moz-flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	#header .content {
		display: block;
		width: 100%;
		text-align: center;
		margin: 0 0 2em 0;
	}
	#header .image {
		overflow: hidden;
	}
}

@media screen and (max-width: 736px) {
	#header {
		background-image: url("images/overlay.png"), url("images/pattern-size3.svg");
	}
	#header h1 {
		font-size: 2em;
	}
	#header p {
		font-size: 1em;
		line-height: inherit;
	}
}

@media screen and (max-width: 736px) and (orientation: landscape) {
	#header {
		padding: 2em 2em 0.1em 2em;
	}
	#header .content {
		margin: 0 2em 2em 0;
	}
	#header .image {
		font-size: 0.8em;
		width: 15em;
		max-width: 20vw;
	}
	#header .image .inner, #header .image:before, #header .image:after {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 736px) and (orientation: portrait) {
	#header {
		padding: 3em 1.5em 1em 1.5em;
	}
	#header .image {
		font-size: 0.6em;
		max-width: 60vw;
	}
}

@media screen and (max-width: 480px) and (orientation: landscape) {
	#header {
		padding: 4em 1.5em 0.1em 1.5em;
	}
	#header .image {
		font-size: 0.7em;
	}
}

@media screen and (max-width: 480px) and (orientation: portrait) {
	#header {
		padding: 4.5em 1em 0.1em 1em;
	}
	.content h1 {
		display: none;
	}
}

body.is-mobile #header {
	background-attachment: scroll, scroll;
}

body.is-loading #header .content {
	-moz-transform: translateX(2em);
	-webkit-transform: translateX(2em);
	-ms-transform: translateX(2em);
	transform: translateX(2em);
	opacity: 0;
}

body.is-loading #header .image {
	-moz-transform: translateY(4em);
	-webkit-transform: translateY(4em);
	-ms-transform: translateY(4em);
	transform: translateY(4em);
	opacity: 0;
}

body.is-loading #header .image img {
	opacity: 0;
}

@media screen and (max-width: 980px) and (orientation: portrait) {
	body.is-loading #header .content {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
	}
	body.is-loading #header .image {
		-moz-transform: translateY(2em);
		-webkit-transform: translateY(2em);
		-ms-transform: translateY(2em);
		transform: translateY(2em);
	}
}
