{% macro render_field(field) %}
  {%- if field.errors %}
    {{ field(**kwargs) }}
      {% for error in field.errors %}<p class="sidetip"><i class="material-icons">error_outline</i>{{ error|e }}</p>{% endfor %}
  {%- else -%}
    {{ field(**kwargs) }}
  {%- endif -%}
{% endmacro %}

{%- macro render_projects(projects, current_user) -%}
  {%- for project in projects %}
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{ project.title }}
                <i class="material-icons project-type"
                 title="{{ "Public" if project.type else "Private" }} project">
                  {{ "lock_open" if project.type else "lock_outline" }}
                </i>
              </span>
              <p>{{ project.description }}</p>
            </div>
            <div class="card-action">
            {%- if current_user.role_for_project(project.id) == 'admin' %}
             <a class="activator">Add member</a>
             <a href="{{ url_for('project.edit', slug=project.slug) }}">Edit</a>
            {%- elif not current_user.is_project_member(project.id) -%}
              <a href="{{ url_for('project.join', slug=project.slug) }}">Join project</a>
            {%- endif %}
              <a href="{{ url_for('project.sessions', slug=project.slug) }}">View sessions</a>
            </div>
            {%- if current_user.role_for_project(project.id) == 'admin' %}
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Who would you like to add?<i class="material-icons right">close</i></span>
              <form class="add-member-form">
                <div class="row">
                  <div class="input-field col s12">
                    <input required autofocus type="email" data-project-id="{{ project.id }}" id="add-member-email-{{ project.id }}" class="add-member-email">
                    <label for="add-member-email">Their email address</label>
                  </div>
                  <button class="btn z-depth-0 waves-effect waves-light right add-member" type='submit'>Add</button>
                </div>
              </form>
            </div>
            {%- endif %}
          </div>
        </div>
  {%- endfor -%}
{%- endmacro -%}

{%- macro render_prompt(prompt_id, prompt_text, image_url) %}
            <div class="col s12 m6 l4 ">
              <div class="card small">
                <div class="actions">
                  <a class="btn-floating upload" data-prompt-id="{{ prompt_id }}"><i class="material-icons">file_upload</i></a>
                  <a class="btn-floating delete" data-prompt-id="{{ prompt_id }}"><i class="material-icons">delete</i></a>
                </div>
                <div class="card-image">
                  <input type="file" name="upload-{{ prompt_id }}" id="upload-{{ prompt_id }}" onchange="readURL(this)">
                  <label for="upload-{{ prompt_id }}">
                    <img id="promptImg-{{ prompt_id }}" src="{{ image_url }}" />
                  </label>
                  <span class="error promptImageError">Error: a prompt image is required</span>
                </div>
                <div class="card-content">
                  <div class="input-field col s12">
                    <textarea class="materialize-textarea center-align" maxlength="64"
                        placeholder="Enter a short prompt to guide the conversation" id="promptText-{{ prompt_id }}" name="promptText-{{ prompt_id }}">{{ prompt_text }}</textarea>
                    <span class="error">Error: a short prompt to guide the conversation is required</span>
                  </div>
                </div>
              </div>
            </div>
{%- endmacro -%}

{%- macro display_flash_messages() -%}
{%- with messages = get_flashed_messages() -%}
  {% if messages %}
  <script>{{ messages | safe }}.forEach(function(e){Materialize.toast(e, 4000)});</script>
  {%- endif -%}
{%- endwith -%}
{%- endmacro -%}

{%- macro active(uri="", uri_blueprint_group="") -%}
{% if uri == request.endpoint or request.endpoint.split(".")[0] == uri_blueprint_group %} class="active"{%- endif -%}
{%- endmacro -%}

{%- macro render_connection(connection) %}
                <div class="r-{{ connection.id }} card-panel no-padding" style="display: none;">
                  <div class="connection-header">
                    <strong><a class="author" href="javascript:void(0)">{{ connection.creator }}</a></strong> &mdash;
                    <time datetime="{{ connection.timestamp }}">{{ connection.days_since }} days ago</time>
                  </div>
                  <div class="connection-body">
                    <p><b>{% for code in connection.codes %}{{ code['code'] }}{% if not loop.last %}, {% endif %}{% endfor %}</b></p>
                    <p class="black-text">{{connection.content.decode('utf8', 'ignore')}}</p>
                    <div class="options">
                      <a href="javascript:void(0)"><i data-responseid="{{ connection.id }}" class="material-icons writeReply">reply</i></a>
                      <a href="javascript:void(0)"><i data-responseid="{{ connection.id }}" class="material-icons showReplies">chat_bubble_outline</i>
                        <sup>{{connection.comments | length or connection.children | length}}</sup>
                      </a>
                    </div>
                  </div>
                </div>
                {% for comment in connection.comments %}
                <div class="child" data-parentid="{{ comment.pid if comment.pid else connection.id }}" data-commentid="{{ comment.id }}" style="display: none;">
                  {{ render_connection(comment) }}
                </div>
                {% endfor %}
{%- endmacro %}