    {% from "views/shared/macros.html" import active -%}
    <nav class="transparent z-depth-0">
      <div class="nav-wrapper container">
        <ul>
          <li{{ active("main.index") }}><a href="{{ url_for('main.index') }}">Home</a></li>
          <li{{ active("main.about") }}><a href="{{ url_for('main.about') }}">About</a></li>
          <li{{ active("main.projects", "project") }}><a href="{{ url_for('main.projects') }}">Projects</a></li>
        {%- if current_user.is_authenticated %}
          <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
        {%- else %}
          <li {{ active("main.index") or active("users.login") }}><a href="{{ url_for('users.login') }}">Log in</a></li>
        {%- endif %}
        </ul>
      </div>
    </nav>