{% extends "views/shared/layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
      <h1>How it works</h1>
      <div class="row">
        <div class="col s12 m4">
          <div class="center promo promo-example">
            <i class="material-icons">group</i>
            <p class="promo-caption">Find a friend</p>
            <p class="light center">
                Do you know someone with personal experiences of a topic
                you are interested in understanding and discussing with others?
            </p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="center promo promo-example">
            <i class="material-icons">record_voice_over</i>
            <p class="promo-caption">Record an interview</p>
            <p class="light center">
                Download <a href="{{ url_for('main.index') }}">Gabber</a> and record a set of interviews
                with others about aspects of a topic you have experiences with.
            </p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="center promo promo-example">
            <i class="material-icons">comment</i>
            <p class="promo-caption">Collaboratively annotate</p>
            <p class="light center">
                Find your <a href="{{ url_for('main.projects') }}">project</a>, select the interview
                session, and discuss and annotate pieces of the audio interview using a novel interface.
            </p>
          </div>
        </div>
      </div>
      <hr>
      <p>
          <em>Gabber is an ongoing exploratory research project that aims to understand the value of
          technologies for supporting the collection of speech data (interviews from Gabber),
          and <b>interaction</b>, <b>consumption</b> and <b>collaborative interpretation</b> of this data (using this website).</em>
      </p>
{%- endblock %}
