{% extends "views/shared/layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
      <h1>What's Gabber?</h1>
      <hr>
      <p>Gabber is an exploratory research technology for communities to
      capture audio conversations with peers around a shared topic of interest,
      from discussion of local issues that matter to citizens (town planning,
      politics, etc) to use within organisations as a tool to facilitate
      reflective practice.Data produced using the Gabber mobile application(s) is represented on a
      per-project basis on this website for participants to listen to and reflect
      upon audio's created by other participants within that community.  A curation
      process of annotating interesting pieces (for that participant) of these audio's
      exists on the website to facilitate this discussion and reflection.</p>
      <h2>Why Gabber?</h2>
      <hr>
      <p>Sharing your experiences, collecting the experiences of others,
      and having them all in one place enables <b>you</b> as a community to
      engage with and understand the needs and concerns of others within this
      community. By representing all of these perspectives in one place, they
      could be used to engage local government in decision-making processes,
      such as where to place new buildings, or understand local citizens concerns.</p>
{%- endblock %}
