{% extends "views/shared/layout.html" %}
{% block title %}Interaction design methods for HCI{% endblock %}
{% block content %}
      <h1>Your gabbers</h1>
      </br>
      <ul>
      {% for interview in interviews %}
      <li style="padding-left: 1.68em;">
       <a href="{{ url_for('consent.protected', filename=interview.audio) }}">{{ prompts[interview.prompt_id] }}</a>
        </br>
        <p>Created by <b>
        {% for p in interview.participants %}
          {% if p.name is not none %}
            {{ p.name }}
          {% endif %}
        {% endfor %}
         </b> on <b> {{ interview.created_on.strftime('%d-%b, %H:%S') }}</b></p>
      </li>
      </br>
      {% endfor %}
      <hr>
{%- endblock %}
