{% extends "views/shared/layout.html" %}
{% block styles %}
  <link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }}>
{%- endblock %}
{% block content %}
        <div id="header">
          <div class="col s12 m6 offset-m2">
            <div class="content">
              <h1>Your voice matters</h1>
              <p><b>Record</b>, <b>publish</b>, and <b>collaboratively<br>annotate</b>
                  audio interviews with <b>Gabber</b></p>
              <div id="downloads">
                <a href="https://play.google.com/store/apps/details?id=com.jawrainey.gabber">
                    <img src="{{ url_for('static', filename='img/play-store.png') }}" alt="Download Gabber for Android">
                </a>
                <a>
                    <img src="{{ url_for('static', filename='img/app-store.png') }}" alt="Download Gabber for iOS">
                </a>
              </div>
            </div>
          </div>
          <div class="col s12 m4 is-loading">
            <img class="image" src="{{ url_for('static', filename='img/screen.gif') }}" alt="The three stages and workflow when using Gabber" />
          </div>
        </div>
{%- endblock %}
{%- block fscripts %}
  <script>window.onload=function(a){document.body.className+="is-loading",window.setTimeout(function(){document.body.className=""},150)};</script>
{%- endblock %}