{% extends "views/shared/layout.html" %}
{% from "views/shared/macros.html" import render_projects %}
{% block title %}Projects{% endblock %}
{% block content %}
    {%- if user_projects %}
        <h2 class="col s12 m12">Your Projects</h2>
    {{- render_projects(user_projects, current_user) -}}
    {% endif %}
        <h4 class="col s12 m12">Public projects</h4>
        {{- render_projects(public_projects, current_user) -}}
        {% if current_user.is_authenticated %}
        <div class="fixed-action-btn">
          <a href="{{ url_for('project.create', _external=True) }}" class="btn-floating btn-large"><i class="material-icons">add</i></a>
        </div>
        {%- endif %}
{%- endblock %}
{%- block fscripts %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
{%- endblock %}